# Database connection URL
DATABASE_URL=postgresql://user:password@localhost:5432/database_name?sslmode=require

# Robokassa credentials
ROBOKASSA_LOGIN=your_robokassa_login
ROBOKASSA_PASSWORD1=your_first_password_for_robokassa
ROBOKASSA_PASSWORD2=your_second_password_for_robokassa